[D-BUS Service]
Name=org.webosinternals.ipkgservice
Exec=/usr/bin/luna-helper 'luna://com.palm.vm/launch' '{"serviceName":"org.webosinternals.ipkgservice","className":"org.webosinternals.ipkgservice.IPKGService"}'