<div x-palm-popup-content="" class="confirmWindow configWindow">
	
	<div class="message">
		
		<div class="palm-dashboard-icon alert"></div>
		
		<div class="top">Êtes-vous sûr de vouloir <span id="type">ajouter</span> ce flux ?</div>
		
		<div class="row first">
			<div class="left">Nom</div>
			<div class="right"><span id="name"></span></div>
		</div>
		<div class="row">
			<div class="left">URL</div>
			<div class="right"><span id="url"></span></div>
		</div>
		
		
	</div>
	
	<div class="buttons">
		<div x-mojo-element="Button" id="ok-button"></div>
		<div x-mojo-element="Button" id="cancel-button"></div>
	</div>
	
</div>
