<div x-palm-popup-content="" class="confirmWindow">
	
	<div class="message">
		
		<div class="palm-dashboard-icon alert"></div>
		
		Le service de gestion des paquetages (Package Manager Service) est une interface en 
		arrière-plan à l'application en ligne de commande ipkg qui gère tous les paquetages qui 
		sont installés sur le Pre. Il ne peut pas être lancé à partir de l'écran du lanceur - 
		il peut seulement être utilisé par une autre application.<br>
		<b>Il suffit simplement de redémarrer le Pre et l'icône disparaîtra. Ne supprimez pas l'icône.</b>
		
	</div>
	
	<div x-mojo-element="Button" id="ok-button"></div>
	
</div>