<div x-palm-popup-content="" class="confirmWindow">
	
	<div class="message">
		
		<div class="palm-dashboard-icon alert"></div>
		
		The Package Manager Service is a back-end interface to the ipkg command line application
		which manages all packages that are installed on the Pre.  It cannot be launched from the
		launcher screen - it can only be used by another application.<br>
		<b>Just reboot and the icon will disappear. Do not delete the icon.</b>
		
	</div>
	
	<div x-mojo-element="Button" id="ok-button"></div>
	
</div>