<div x-palm-popup-content="" class="confirmWindow">
	
	<div class="message">
		
		<div class="palm-dashboard-icon alert"></div>
		
		<span id="description"></span> requires a script to be executed<span id="type"></span>.
		If you wish to view the script that is going to be executed, click the 'View' button below.
		To execute the script and continue the process, click 'Ok'.
		Click 'Cancel' to abort the script and revert any steps that have already been taken.
		
	</div>
	
	<div class="buttons">
		<div x-mojo-element="Button" id="ok-button"></div>
		<div x-mojo-element="Button" id="view-button"></div>
		<div x-mojo-element="Button" id="cancel-button"></div>
	</div>
	
</div>
