/*
 * Confirmation and Config Window Styles
 */

.confirmWindow
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 8px;
}
.confirmWindow .message
{
	padding-left: 10px;
	padding-right: 5px;
	font-size: 16px;
}
.confirmWindow .message .palm-dashboard-icon.alert
{
	width: 60px;
	height: 60px;
	float: left;
	margin-left: 12px;
}
.confirmWindow .message .palm-dashboard-icon.alert
{
	float: left;
	width: 60px;
	height: 60px;
	margin-left: 12px;
}
.confirmWindow .message #description
{
	font-weight: bold;
}
.confirmWindow .buttons
{
	position: fixed;
	z-index: 11001;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.confirmWindow .buttons #ok-button
{
	float: left;
	width: 32%;
}
.confirmWindow .buttons #view-button
{
	float: left;
	width: 32%;
	margin-left: 5px;
}
.confirmWindow .buttons #cancel-button
{
	float: left;
	width: 33%;
	margin-left: 5px;
}

.configWindow .message .top
{
	padding-top: 5px;
}
.configWindow .row
{
	min-height: 30px;
	width: auto;
	clear: both;
}
.configWindow .row.first
{
	border-bottom: 1px solid #666;
}
.configWindow .row .left
{
	color: #ccc;
	font-weight: bold;
	margin-top: 4px;
	margin-left: 10px;
	margin-right: 15px;
	float: left;
	font-size: 14px;
	text-transform: uppercase;
}
.configWindow .row .right
{
	color: #e5e5e5;
	margin-top: 6px;
	margin-right: 10px;
	font-size: 18px;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.configWindow .buttons #ok-button
{
	float: left;
	width: 49%;
	margin-left: 1px;
}
.configWindow .buttons #cancel-button
{
	float: left;
	width: 49%;
	margin-left: 6px;
}



/*
 * Scripe View Styles
 */

body.palm-dark
{
	background: #000;
}

.scriptView .palm-button
{
  clear: both;
  margin: 5px 0 5px 0;
  height: 52px;
  padding: 0;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  line-height: 52px;
  background: none;
  border-width: 0 22px;
  -webkit-box-sizing: border-box;
  -webkit-border-image: url(../images/palm-notification-button.png) 0 22 104 22 repeat repeat;
}

.scriptView .palm-button.affirmative
{
  color: #fff;
  -webkit-border-image: url(../images/palm-notification-button-affirmative.png) 0 22 104 22 repeat repeat;
}

.scriptView .palm-button.negative
{
  color: #fff;
  -webkit-border-image: url(../images/palm-notification-button-negative.png) 0 22 104 22 repeat repeat;
}

.scriptView #scriptScroller
{
	position: fixed;
	top: 50px;
	left: 0px;
	height: 340px;
	width: 320px;
}
.scriptView #scriptScroller #script
{
	padding: 10px;
	font-size: 18px;
	overflow: visible;
	white-space: nowrap;
	height: 100%;
	width: 100%;
	color: #fff;
	font-family: monospace;
	font-weight: bold;
}
.scriptView #scriptScroller .fade-top
{
	position: fixed; 
	top: 50px; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/scroll-top.png) top center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
.scriptView #scriptScroller .fade-bottom
{
	position: fixed; 
	top: 360px;
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/scroll-bottom.png) bottom center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
.scriptView #scriptScroller .fade-left
{
	position: fixed; 
	left: 0; 
	z-index: 11000;
	height: 100%;
	width: 30px; 
	background: url(../images/scroll-left.png) top center repeat-y;
	-webkit-palm-mouse-target: ignore;
}
.scriptView #scriptScroller .fade-right
{
	position: fixed; 
	right: 0; 
	z-index: 11000;
	height: 100%;
	width: 30px; 
	background: url(../images/scroll-right.png) bottom center repeat-y;
	-webkit-palm-mouse-target: ignore;
}
.scriptView .buttons
{
	position: fixed;
	z-index: 11001;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.scriptView .buttons #ok-button
{
	float: left;
	width: 49%;
	margin-left: 1px;
}
.scriptView .buttons #cancel-button
{
	float: left;
	width: 49%;
	margin-left: 6px;
}