<div x-palm-popup-content="" class="confirmWindow">
	
	<div class="message">
		
		<div class="palm-dashboard-icon alert"></div>
		
		<span id="description"></span> nécessite l'exécution d'un script<span id="type"></span>.
		Si vous souhaitez voir le script qui va être exécuté, cliquez sur le bouton 'Voir' ci-dessous.
		Pour exécuter le script et poursuivre le processus, cliquez sur 'Ok'.
		Cliquez sur "Annuler" pour abandonner l'exécution du script et revenir sur toutes les actions qui ont déjà été effectuées.
		
	</div>
	
	<div class="buttons">
		<div x-mojo-element="Button" id="ok-button"></div>
		<div x-mojo-element="Button" id="view-button"></div>
		<div x-mojo-element="Button" id="cancel-button"></div>
	</div>
	
</div>
